<h1>Welcome#index</h1>

<% if user_signed_in? %>
  <p>현재 로그인된 유저의 이메일 : <%= current_user.email %></p>
  <p>로그인 횟수 : <%= current_user.sign_in_count %></p>
  <p>현재 접속한 IP : <%= current_user.current_sign_in_ip %></p>
  <p><%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></p>
<% else %>
  <p><%= link_to "로그인", new_user_session_path %></p>
<% end %>
